<h1><%= @movie.title %></h1>
<p>Year: <%= @movie.creation_year %></p>
<p>Genre: <%= @movie.genre.capitalize %></p>
<p>Actors:</p>
<ul>
  <% @actors.ordered_by_age.each do |actor| %>
    <li><%= actor.name %></li>
  <% end %>
</ul>
<p>Average Age: <%= @actors.average_age %></p>

<%= form_with url: "/movie_actor/create", method: :post, local: true do |form| %>
  <%= form.label :add_actor %>
  <%= form.number_field :add_actor %>
  <%= form.hidden_field :movie_id, value: @movie.id %>
  <%= form.submit 'Submit' %>
<% end %>